:root
  --Mobile 375px
  --Desktop 1440px

  // Colors

  // Primary

  --Purple hsl(259, 100%, 65%)
  --Light-red hsl(0, 100%, 67%)

  // Neutral

  --White hsl(0, 0%, 100%)
  --Off-white hsl(0, 0%, 94%)
  --Light-grey hsl(0, 0%, 86%)
  --Smokey-grey hsl(0, 1%, 44%)
  --Off-black hsl(0, 0%, 8%)

  // Typography

  // Body
  --Font-size-inputs 32px

  // Font
  font-family 'Poppins', sans-serif

  // Weights 400i, 700, 800i
  --w400 400
  --w700 700
  --w800 800

  // measures
  --space 24px
  --btn-size 66px

  background-color var(--Off-white)
  color var(--Smokey-grey)
  font-weight var(--w400)

body
  min-height 100vh
  display flex
  justify-content center
  align-items center
  margin 0

*
  box-sizing border-box
p
  margin 0

.calculator
  background-color var(--White)
  max-width 340px
  padding calc(var(--space) * 2) var(--space)
  border-radius var(--space) var(--space) calc(var(--space) * 4)

  form
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%

  .input-group
    flex 0 0 86px
  
  label
    font-weight 400
    font-size 10px
    text-transform uppercase

  input
    width 100%
    height 52px
    font-weight 800
    font-size 20px
    font-family 'Poppins', sans-serif
    border-radius 8px
    border 1px solid var(--Smokey-grey)
    padding 8px

  .button-container
    flex 2 1 100%
    display flex
    justify-content center
    position relative
    z-index 0
    margin 32px 0
    &:before
      content ''
      position absolute
      inset 50% 0 auto
      border-top 1px solid var(--Light-grey)
      z-index -1

  button
    width var(--btn-size)
    height var(--btn-size)
    border 0
    background-color var(--Purple)
    border-radius 50%

.result
  font-size 52px
  font-weight var(--w800)
  font-style italic
  color var(--Off-black)
  line-height 1

  span
    color var(--Purple)



footer
  position absolute
  inset auto 0 0
  padding 10px

