:root {
  // colors
  --Purple: #854dff;
	--Light-red: #ff5757;
	--card-color: #fff;
	--bg-color: #f0f0f0;
	--Light-grey: #dbdbdb;
	--input-color: #716f6f;
	--text-color: #141414;
  
  // measures
	--Mobile: 480px;
	--Desktop: 1440px;

	--Font-size-inputs: 32px;

	--fz-label:10px;
	--fz-input:20px;
	--fz-input-text:8px;
	--fz-result:52px;


	--w400: 400;
	--w700: 700;
	--w800: 800;

	--max-width: 340px;

	--space: 24px;
	--btn-size: 64px;

	--input-w:86px;
	--input-h:52px;

	--padding-h:var(--space);
	--padding-v:calc(var(--space) * 2);

  // iniciales
	font-family: 'Poppins', sans-serif;
	background-color: var(--bg-color);
	color: var(--Smokey-grey);
	font-weight: var(--w400);
}

@media (prefers-color-scheme:dark){
	:root{
		--bg-color:#1d1a1f;
		--card-color:#2e2931;
		--text-color:#f0f0f0;
		--input-color:#797777;
	}
}

@media (min-width:481px) {
	:root{
		--btn-size: 96px;
		--max-width: 840px;
		--padding-h:calc(var(--space) * 2);

		--fz-label:10px;
		--fz-input:32px;
		--fz-input-text:10px;

		--input-w:158px;
		--input-h:72px;

		--fz-result:102px;
	}
}